html {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	transition: all 200ms ease-in-out;
	background-color: #fff;
	color: #1a1a1a;
	overflow-x: hidden;
	a {
		color: #1a1a1a;
		&.nuxt-link-active {
			border-bottom: 1px solid #1a1a1a;
		}
	}
}

.dark-mode body {
	background-color: #1a1a1a;
	color: #e0e0e0;
	a {
		color: #e0e0e0;
		&.nuxt-link-active {
			border-bottom: 1px solid #e0e0e0;
		}
		&:hover {
			color: #d90000;
		}
	}
	hr {
		border-top: 1px solid #e0e0e0;
	}
}

.container {
	width: 100%;
	padding: 100px 0;
	margin: 0 auto;
	min-height: 100vh;
	max-width: 1200px;
	@media (max-width: 1360px) {
		padding: 100px 80px;
		max-width: unset;
	}
	@media (max-width: 600px) {
		padding: 80px 20px;
	}
}

main {
	max-width: 820px;
}

a {
	cursor: pointer;
	transition: color 200ms ease-in-out;
	text-decoration: none;
	font-weight: 600;
	&:hover {
		color: #d90000;
	}
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
}

picture {
	overflow: hidden;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

hr {
	margin: 0;
	border-top: 1px solid #1a1a1a;
	border-bottom: 0;
}

.page-enter-active,
.page-leave-active {
	transition: all 0.1s ease-out;
}
.page-enter,
.page-leave-active {
	opacity: 0;
	transform-origin: 50% 50%;
}
